[Desktop Entry]
Name=acolyte
Comment=Steam account manager
Exec=steam-acolyte
Icon=acolyte
Terminal=false
Type=Application
Categories=Game;
MimeType=x-scheme-handler/steam;
