[Desktop Entry]
Name=Steam Acolyte
Comment=Steam Account Manager
Exec=steam-acolyte
Icon=acolyte
Terminal=false
Type=Application
Categories=Game;
MimeType=x-scheme-handler/steam;
